table,
td,
th {
    margin: auto;
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: aqua;
}

tr:nth-child(even) {
    background-color: lightblue;
}